body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-login {
  background-color: black;
  border: solid 1px #2c2c2c;
  border-radius: 2px;
  padding: 20px;
  padding-bottom: 2%;
  text-align: center;
  color: white;
  width: 25vw;
  max-width: 330px;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
}

.login p {
  margin-bottom: 40px;
}

button {
  margin-top: 10px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1px;
  color: #aaa;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}

.separator hr {
  flex: 1;
  border: none;
  height: 1px;
  background-color: #ccc;
  max-width: 90px;
  width: 100%;
}

.login-facebook {
  display: flex;
  color: #3c8ae4;
  font-weight: 500;
  letter-spacing: -0.5px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.forgot-password {
  letter-spacing: -0.5px;
  font-weight: 500;
  font-size: 15px;
}

.container-cadastro {
  text-align: center;
  background-color: black;
  border: solid 1px #2c2c2c;
  margin-top: 10px;
  border-radius: 2px;
  padding-right: 20px;
  padding-left: 20px;
  width: 25vw;
  max-width: 330px;
  color: white;
  letter-spacing: -0.5px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.footer-links {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-copy {
  margin-top: 5px;
}

.instagram-logo {
  width: 200px;
  align-self: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

input {
  background-color: #1c1c1c;
  padding: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  appearance: none;
  background-clip: padding-box;
  border: 1px solid gray;
  border-radius: 2px;
  outline: none; /* remove contorno azul padrão */
  box-shadow: none; /* remove sombra interna */
}

input::placeholder {
  font-size: 12px; /* tamanho da fonte */
  color: #aaa; /* cor opcional */
  font-family: "Poppins", sans-serif;
}

button {
  background-color: #405de6;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #2d3974;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.facebook-logo {
  width: 23px;
  align-self: center;
}

a {
  text-decoration: none;
}

.cadastro {
  color: #0095f6;
  font-weight: 500;
}

.cadastro:visited {
  color: #2932b1;
  font-weight: 500;
}

.cadastro:active {
  color: #203746;
  font-weight: 500;
}

footer,
footer a {
  color: gray;
  font-size: 12px;
}

footer a:hover {
  text-decoration: underline gray;
}

footer a:active {
  color: rgb(48, 48, 48);
  text-decoration: underline rgb(48, 48, 48);
}

.input-senha {
  position: relative;
  display: flex;
  align-items: center;
}

.input-senha input {
  flex: 1;
}

.input-senha button {
  position: absolute;
  background-color: #1c1c1c;
  right: 8px;
  bottom: 3px;
  cursor: pointer;
}

.togglePassword:hover,
.hidePassword:hover {
  color: rgb(138, 138, 138);
}
